* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/patt.png);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

.header {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100px;
  display: flex;
  align-items: center;
}

.logo a img {
  margin-top: 10px;
}

.menu {
  display: flex;
}

.menu li {
  width: 25%;
}

.menu a {
  height: 50px;
  color: #2c71b8;
  text-decoration: none;
  font-size: 21px;
  border-left: 1px solid #2c71b8;
  /* display: block;
  text-align: center;
  line-height: 50px; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li:hover > a {
  background-color: #2c71b8;
  color: #ffffff;
}

.menu li:last-child a {
  border-right: 1px solid #2c71b8;
}

.menu-1 {
  position: relative;
}

.check {
  width: 10px;
  height: 10px;
  color: #ffffff;
  margin-left: 10px;
}

.menu-1:hover .menu-2 {
  display: block;
}

.menu-2 {
  background-color: #2c71b8;
  width: 286px;
  text-decoration: none;
  font-style: 21px;
  line-height: 40px;

  z-index: 1;

  position: absolute;
  top: 50px;
  display: none;
}

.menu-2 a {
  color: #ffffff;
  width: 258px;
  height: 40px;
  margin-left: 28px;
  padding: 0;
  justify-content: flex-start;
}

.menu-2 li:hover > a {
  background-color: #ffffff;
  color: #2c71b8;
  width: 285px;
  padding-left: 28px;
  margin: 0;
}

.search {
  width: 200px;
  height: 40px;
  border: 1px solid #2c71b8;
  margin-top: 6px;

  display: flex;
  align-items: center;
}

.search input {
  background-color: rgba(206, 218, 235, 0.527);
  font-size: 21px;
  color: #2c71b8;
  font-weight: 300;
  font-family: "Roboto";
  border: none;
  width: 75%;
  height: 100%;
  padding-left: 20px;
}

.search button {
  background-color: #2c71b8;
  width: 30px;
  height: 30px;
  border: none;
  margin: auto;
}

.cart {
  position: relative;
  top: 6px;
}

.cart-1 {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  /* display: block;
  text-align: center;
  line-height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-1 img {
  width: 20px;
  height: 20px;
}

.cart-2 {
  background-color: #2c71b8;
  color: #ffffff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: -10px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;

  position: relative;
}

.main .row {
  height: auto;
  justify-content: flex-end;
}

.column {
  width: 25%;
  line-height: auto;
  background-color: #568cc6ad;
  color: #ffffff;

  position: absolute;
  top: 0;
  left: 7px;

  display: flex;
  flex-direction: column;
}

.device-name > .device-text {
  margin: 0;
  padding-left: 0;
  margin-top: 20px;
}

.column button {
  width: 210px;
  height: 50px;
  margin: 15px auto;
  background-color: #2c71b8;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  width: 75%;
  height: 50px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.options input {
  width: 100%;
  height: 100%;
  font-size: 21px;
  border: none;
  color: #ffffff;
  background-color: rgba(87, 140, 196, 0.452);
  text-align: center;
}

.item {
  height: auto;
  margin-top: 30px;
  font-family: "Roboto";
  border: 1px solid #ffffff;
}

.name {
  height: 150px;
  margin-left: 25%;
  margin-bottom: -50px;
  font-size: 48px;
  color: #ffffff;
  line-height: 150px;
  font-weight: 700;
}

.device-img {
  width: 100%;
  height: 180px;
  background-color: #ffffff;
  opacity: 0.75;
  margin: 0;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-2 {
  background-image: url(../img/icon\(8\).png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: 30px;
  height: 30px;

  position: absolute;
  top: 10px;
  right: 10px;
  border: 0.5px solid #2c71b8;
}

.img-3 {
  background-image: url(../img/icon\(5\).png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: 0.5px solid #2c71b8;
  color: #2c71b8;

  position: absolute;
  top: 50px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-2:hover {
  background-color: #2c71b8;
}

.img-3:hover,
.liked {
  background-color: #2c71b8;
}

.img-2:hover {
  background-image: url(../img/icon\(6\).png);
  background-repeat: no-repeat;
}

.img-3:hover,
.liked {
  background-image: url(../img/icon\(7\).png);
  background-repeat: no-repeat;
}

.device {
  background-color: rgba(44, 113, 184, 0.75);
  color: #ffffff;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.device-name {
  padding-top: 30px;
  padding-left: 15px;

  font-size: 30px;
  font-weight: 700;
}

.device-text {
  font-size: 21px;
  padding-left: 15px;
  font-weight: 300;
}

.device-text p {
  margin-top: 20px;
}

span {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}

.device-price {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.device-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

sup {
  vertical-align: super;
}

.details {
  margin: 20px auto;
  width: 210px;
  height: 50px;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
}

.add-to-cart {
  background-color: #2c72b83a;
  color: #ffffff;
  width: 210px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px auto;
  width: 210px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.modal-block {
  width: 250px;
  height: 200px;
  padding: 20px;
  margin: 100px auto;
  background-color: #ffffff;
}

.form-field {
  margin-bottom: 10px;
}

.form-field input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

.form-more-details {
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.form-more-details h3 {
  margin-bottom: 15px;
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.slide-class {
  height: 400px;
  text-align: center;
  line-height: 400px;
  color: #ffffff;
  font-weight: 250;
  font-family: "Roboto";
  font-size: 100px;
  letter-spacing: 10px;
}

.slick-dots li {
  margin-top: -120px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
